.SignInContainer {

height: 100%;
width: 100%;
display: flex;
background-color: #FFF;
align-items: center;
justify-content: center;
margin: 50px;
padding: 50px;
}

.input {
  height: 30px;
  width: 230px;
}
